<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
	<title>@ViewBag.Title Julia Klarman Photography</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</head>
<body>
	<!--[if IE]>
<style type="text/css">
div#show3 table td, div#show4 table td {
height:21px;
}
</style>
<![endif]-->

 

<div id="wrapper">
	<div id="header"><h1><a href="@Url.Action("Index", "Home")"><img src="/Content/images/logo.png" alt="Julia Klarman Photography" width="360" height="30" /></a></h1>
	</div><!-- end header -->
	<div id="fb-root"></div>
	<div id="nav">
		<ul>
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<!--<li><a href="secondary.html">About</a></li>
			<li><a href="secondary.html">Services</a></li>-->
			<li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
			<li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
		</ul>
	</div>
	<div id="content">
	@RenderBody()
		</div><!-- end content -->
	<div id="footer">
		<p class="left">&copy;@DateTime.Now.Year Julia Klarman Photography, all rights reserved</p>
		<p class="right">Julia Klarman Photography<br />
						 Bloomington, IL</p>
		<div class="clear"></div>
	</div><!-- end footer -->	
</div><!-- end wrapper -->
</body>
</html>

